[submodule "Push_swap"]
	path = Push_swap
	url = git@github.com:eniglesi1/Push_swap.git
[submodule "GetNextLine"]
	path = GetNextLine
	url = git@github.com:eniglesi1/GetNextLine.git
[submodule "Minitalk"]
	path = Minitalk
	url = git@github.com:eniglesi1/Minitalk.git
[submodule "ft_printf"]
	path = ft_printf
	url = git@github.com:eniglesi1/Ft_printf.git
[submodule "So_long"]
	path = So_long
	url = git@github.com:eniglesi1/So_long.git
